<div class="flex items-center justify-center min-h-screen bg-gray-100 px-4">
  <div class="w-full max-w-md bg-white p-8 rounded shadow-md">
    <h2 class="text-2xl font-semibold mb-6 text-center">Login</h2>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="space-y-4">
      <input
        class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="text"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="Username"
      />

      <input
        class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Password"
      />

      <button
        class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>

    <p class="text-center text-sm mt-4">
      Don't have an account?
      <a
        routerLink="/register"
        class="text-blue-600 hover:underline cursor-pointer"
        >Register</a
      >
    </p>

    <div *ngIf="errorMessage" class="text-red-500 mt-4 text-center">
      {{ errorMessage }}
    </div>
  </div>
</div>
